# Import Library

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math
import seaborn as sns
%matplotlib inline
import warnings

warnings.filterwarnings('ignore')

# Membuka Data Sampel

In [2]:
faktor_data=pd.read_csv("faktor_data.csv")
faktor_data=faktor_data.iloc[::,1:]
faktor_data

       Tn         Tx  RH_avg    RR    ss  ff_x  ddd_x  ff_avg  Suhu
0    23.0  32.600000    81.0   0.0   7.5   3.0  270.0     2.0  27.5
1    21.0  32.600000    74.0   0.0  10.4   3.0  170.0     2.0  26.5
2    22.0  31.500000    77.0   0.0  10.5   4.0  270.0     2.0  26.3
3    22.0  33.900000    77.0   0.0  10.4   3.0  270.0     2.0  27.4
4    23.0  33.100000    76.0   0.0   9.8   5.0  270.0     2.0  27.7
..    ...        ...     ...   ...   ...   ...    ...     ...   ...
432  23.7  32.200000    82.0   7.4   8.0   4.0  280.0     2.0  27.3
433  23.6  31.800000    84.0   0.0   8.2   5.0  270.0     2.0  26.9
434  22.7  33.100000    78.0  15.0   6.6   5.0  240.0     2.0  27.3
435  23.2  31.218647    74.0   0.0   9.1   5.0  220.0     2.0  27.0
436  22.0  30.800000    76.0   0.0   9.8   4.0  230.0     2.0  26.8

[437 rows x 9 columns]

# Core and Reduct

In [3]:
def indiscrenibility(faktor):
    df_r = faktor.groupby(list(faktor)).apply(lambda x: tuple(x.index)).tolist()
    df_baru=[]
    for i in df_r:
        dfb=list(i)
        df_baru.append(dfb)
    return df_baru

In [4]:
def Core_and_Reduct(faktor):
    R=indiscrenibility(faktor)
    kolom=list(faktor.columns)
    indis_vector=[]
    for k in kolom:
        k=str(k) 
        df2=faktor.drop(columns=[k])
        K=indiscrenibility(df2)
        if (K==R):
            indis=True
            indis_vector.append(indis) 
        else:
            indis=False
            indis_vector.append(indis) 
    
    indeks = []
    for i in range(len(indis_vector)):
        if indis_vector[i] == False:
            indeks.append(i)
    indis_var = [kolom[i] for i in indeks] 
    df_CR=faktor[indis_var]
    # Mengembalikan Faktor Utama
    df_CR['Suhu']=faktor.iloc[::,-1]
    return df_CR

In [5]:
faktor_data_CR=Core_and_Reduct(faktor_data)
faktor_data_CR.head()

     Tn    Tx  RH_avg   RR    ss  Suhu
0  23.0  32.6    81.0  0.0   7.5  27.5
1  21.0  32.6    74.0  0.0  10.4  26.5
2  22.0  31.5    77.0  0.0  10.5  26.3
3  22.0  33.9    77.0  0.0  10.4  27.4
4  23.0  33.1    76.0  0.0   9.8  27.7

In [6]:
faktor_data.head()

     Tn    Tx  RH_avg   RR    ss  ff_x  ddd_x  ff_avg  Suhu
0  23.0  32.6    81.0  0.0   7.5   3.0  270.0     2.0  27.5
1  21.0  32.6    74.0  0.0  10.4   3.0  170.0     2.0  26.5
2  22.0  31.5    77.0  0.0  10.5   4.0  270.0     2.0  26.3
3  22.0  33.9    77.0  0.0  10.4   3.0  270.0     2.0  27.4
4  23.0  33.1    76.0  0.0   9.8   5.0  270.0     2.0  27.7

In [7]:
faktor_data_CR.to_csv('faktor_data_CR.csv')